<div class="container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          {{ debate.title }}
      </mat-panel-title>
      <mat-panel-description>
        {{ debate.description }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{ debate.text }}
    Creator: {{ debate.creator_id }}
    Community: {{ debate.community_id }}
  </mat-expansion-panel>
  <div class="body">
      <div *ngFor="let post of debate.posts">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            {{ post.title }}
          </mat-expansion-panel-header>
          <p>{{ post.text }}</p>
        </mat-expansion-panel>
      </div>
    </div>
  </div>