<div class="container">
  <div class="header">
    <mat-expansion-panel>
      <mat-expansion-panel-header class="neutral">
        <mat-panel-title>
          {{ debate.title }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{ debate.description }}
      <div class="debate-footer">
        Creator: {{ debate.creator_id }}
        Community: {{ debate.community_id }}
      </div>
    </mat-expansion-panel>
  </div>
  <div *ngFor="let id of debate.arg_ids" class="right-side post">
    <app-argument argument_id={{id}}></app-argument>
  </div>
</div>