.argument-card {
    max-width: 25vw;
    padding: 0vw;
}

.argument-card-header {
    background-color: aqua;
    padding: 2vh;
}

.argument-card-content {
    padding: 2vh;
    overflow-y: scroll;
    max-height: 80vh;
}