<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">DebateIt</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div id="navbar-items" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" onClick="setSearchTerm('Action')">Action</a>
              <a class="dropdown-item" onClick="setSearchTerm('Another action')">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" onClick="setSearchTerm('Something else here')">Something else here</a>
            </div>
        </form>
      </li>
    </ul>
  </div>
</nav>