<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">DebateIt</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <form class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              <a class="nav-link dropdown-toggle input-group-text"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search for:</a>
              <div id="navbar-items" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" onClick="setSearchTerm('Community')">Community</a>
                <a class="dropdown-item" onClick="setSearchTerm('User')">User</a>
                <a class="dropdown-item" onClick="setSearchTerm('Topic')">Topic</a>
              </div>
            </div>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </div>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if user %}
      <li class="nav-item">
        <a class="nav-link" href="/u/{{ user.id }}">{{ user.name }}</a>
      </li>
      {% endif %}
      <li class="nav-item">
          {% if user %}
          <a class="nav-link" href="/logout">Logout</a>
          {% else %}
          <a class="nav-link" href="/login">Login</a>
          {% endif %}
      </li>
    </ul>
  </div>
</nav>