<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">DebateIt</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <form class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              <a class="nav-link dropdown-toggle input-group-text"  href="#" id="search-dropdown"
                 role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search for:</a>
              <div id="search-items" class="dropdown-menu" aria-labelledby="search-dropdown">
                <a class="dropdown-item" onClick="setSearchTerm('Community')">Community</a>
                <a class="dropdown-item" onClick="setSearchTerm('User')">User</a>
                <a class="dropdown-item" onClick="setSearchTerm('Topic')">Topic</a>
              </div>
            </div>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </div>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="create-dropdown"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Create
        </a>
        <div id="create-items" class="dropdown-menu" aria-labelledby="create-dropdown">
          <a class="dropdown-item" onClick="let response=$.get('/c/create', function(data){$('#content').html(data);});">Community</a>
          <a class="dropdown-item" onClick="$.get('/create/d')">Debate</a>
        </div>
      </li>
      {% if session["user_id"] %}
      <li class="nav-item">
        <a class="nav-link" href="/u/{{ session['user_id'] }}">{{ session["user_name"] }}</a>
      </li>
      {% endif %}
      <li class="nav-item">
          {% if session["user_id"] %}
          <a class="nav-link" href="/logout">Logout</a>
          {% else %}
          <a class="nav-link" href="/login">Login</a>
          {% endif %}
      </li>
    </ul>
  </div>
</nav>